- breadcrumb :subjects
.subjects
  List of subjects:
  %table.table.table-condensed
    - subject_items.each do |subject_item|
      .subject-item
        %table.table.table-condensed
          %tr
            = "#{subject_item.title} (#{subject_item.teacher.decorate.full_name})"


-#= link_to t('shared.add_new_item'), new_teacher_path, class: 'btn btn-default'
-#%table.table.table-condensed
-#  %thead
-#    %tr
-#      %th= t('teacher.columns.first_name')
-#      %th= t('teacher.columns.last_name')
-#      %th= t('teacher.columns.academic_title')
-#      %th= t('shared.actions')
-#  %tbody
-#    = render teachers